* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  color: #ffffff;
  border: none;
  background: transparent;
  padding: 0 6px;
}

window#waybar {
  background: transparent;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 35px;
}

#clock,
#custom-power,
#network,
#bluetooth,
#custom-mic,
#custom-status,
#custom-cpu,
#pulseaudio,
#battery {
  background-color: #2e2e3e;
  margin: 2px;
  padding: 2px 10px;
  border-radius: 6px;
}

/* Add square brackets */
#clock::before,
#custom-power::before,
#network::before,
#bluetooth::before,
#custom-mic::before,
#custom-status::before,
#custom-cpu::before,
#pulseaudio::before,
#battery::before {
  content: "[ ";
}

#clock::after,
#custom-power::after,
#network::after,
#bluetooth::after,
#custom-mic::after,
#custom-status::after,
#custom-cpu::after,
#pulseaudio::after,
#battery::after {
  content: " ]";
}
