/* Global Defaults */
* {
  border: 2px solid #66ccff;
  border-radius: 2px;
  padding: 2px 8px 2px 8px; 
  margin: 0 4px;
  font-family: GohuFont;
  font-size: 13px;
  /* background: transparent; */
  background: #3c3c4e;
}

/* Shared Module Styling */
#clock,
#network,
#bluetooth,
#custom-status,
#custom-battery,
#custom-volume,

/* Battery Levels */
#custom-battery.verylow { color: #fd5753; }
#custom-battery.low     { color: #fb9d4b; }
#custom-battery.medium  { color: #daef4d; }
#custom-battery.good    { color: #4ef499; }
#custom-battery.full    { color: #52f298; }
#custom-battery.charging{ color: #a3d4f7; }

/* Battery Specific Styling */
#custom-battery {
  min-width: 130px;
  background: #1e1e2e;
  color: #fff;
}

/* Volume Module */
#custom-volume {
  min-width: 130px;
  color: #fff;
}

/* Status Module */
#custom-status {
  font-weight: bold;
  color: #66ccff;
  background-color: #0f0f0f;
  padding: 0 12px;
}

/* Tooltip */
tooltip {
  background: #000;
  color: #e0e0e0;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #444;
  font-family: GohuFont, monospace;
  font-size: 11px;
  margin-top: 2px;
}
